---

---

<section
  id="estudios"
  class="w-full min-h-[100vh] py-20 overflow-hidden flex flex-col items-center justify-center px-10 text-white relative"
>
  <div
    class="blur-3xl -z-20 opacity-20 w-11/12 h-[450px] bg-[var(--principal)] rounded-[50%] absolute -top-96 left-1/2 -translate-x-2/4"
  >
  </div>

  <div>
    <h2 class="font-bold text-2xl lg:text-[36px]">Estudios 游늿</h2>

    <ol class="mt-10">
      <li class="border-l-2 border-[#5D8AA8]">
        <div class="md:flex flex-start">
          <div
            class="bg-[#5D8AA8] w-6 h-6 flex items-center justify-center rounded-full -ml-3.5"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              class="text-white w-3 h-3"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"
              ></path>
            </svg>
          </div>
          <div
            class="block p-6 rounded-lg shadow-lg bg-gray-100 bg-opacity-5 border border-[rgba(155,155,155,0.2)] w-[400px] ml-6 mb-10"
          >
            <div class="flex justify-between mb-4">
              <h3 class="font-bold text-white">Ingenieria en informatica</h3>
              <p class="font-medium text-white text-sm">2023 - 2026</p>
            </div>
            <p class="text-gray-300 mb-6">Inacap, Rancagua, Chile</p>
          </div>
        </div>
      </li>
      <li class="border-l-2 border-green-600">
        <div class="md:flex flex-start">
          <div
            class="bg-green-600 w-6 h-6 flex items-center justify-center rounded-full -ml-3.5"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              class="text-white w-3 h-3"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"
              ></path>
            </svg>
          </div>
          <div
            class="block p-6 rounded-lg shadow-lg bg-gray-100 bg-opacity-5 border border-[rgba(155,155,155,0.2)] w-[400px] ml-6 mb-10"
          >
            <div class="flex justify-between mb-4">
              <h3 class="font-bold text-white">Educaci칩n media</h3>
              <p class="font-medium text-white text-sm">2019 - 2022</p>
            </div>
            <p class="text-gray-300 mb-6">
              Liceo Comercial Diego Portales, Rancagua, Chile
            </p>
          </div>
        </div>
      </li>
      <li class="border-l-2 border-green-600">
        <div class="md:flex flex-start">
          <div
            class="bg-green-600 w-6 h-6 flex items-center justify-center rounded-full -ml-3.5"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              class="text-white w-3 h-3"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"
              ></path>
            </svg>
          </div>
          <div
            class="block p-6 rounded-lg shadow-lg bg-gray-100 bg-opacity-5 border border-[rgba(155,155,155,0.2)] w-[400px] ml-6 mb-10"
          >
            <div class="flex justify-between mb-4">
              <h3 class="font-bold text-white">Educaci칩n b치sica</h3>
              <p class="font-medium text-white text-sm">2011 - 2018</p>
            </div>
            <p class="text-gray-300 mb-6">Colegio Espa침a, Rancagua, Chile</p>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
