---

---

<section
  id="habilidades"
  class="w-full h-24 py-10 border-t border-[rgba(155,155,155,0.2)] font-extralight text-slate-300 overflow-hidden flex flex-col items-center justify-center relative"
>
  renato.cavieres@proton.me
</section>
