---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="Renato Cavieres, maoudev, desarrollador, portafolio, web, backend, Spring Boot, Go, Android, Renato Andrés Cavieres Díaz"
    />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />

    <meta property="og:title" content="Renato Cavieres - Portafolio" />
    <meta
      property="og:description"
      content="Explora los proyectos de Renato Cavieres (maoudev)-"
    />
    <meta
      property="og:image"
      content={"https://portafolio.maou.tech/og/og.png"}
    />
    <meta property="og:url" content={"https://portafolio.maou.tech"} />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full h-full">
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cantata+One&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  :root {
    --principal: #ff0000;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #110e0e;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);

      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }
  }

  h2 {
    font-family: "Jost", serif;
  }

  h3 {
    font-family: "Poppins", sans-serif;
  }

  nav li a {
    font-family: "Jost", serif;
  }
</style>
